<!DOCTYPE HTML>
<html>
<head>
    <title>Concrete Jungle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/">
    <!--<link href="headers.css" rel="stylesheet">-->
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      span[id=site-name] {
        font-size: 24px;
      }
      div[id=nav-bar]{
        margin: auto;
        text-align: center;
        font-size: 16px;
      }
    </style>
</head>
<body>