{{>layout/header}}

<div class="container">
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{no}}</td>
                <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{viewCount}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
    {{#boardName}}
        <div class="float-right">
            <a href="/posts/save?name={{boardName}}" role="button" class="btn btn-primary">글쓰기</a>
        </div>
    {{/boardName}}
</div>

{{>layout/footer}}