{{>layout/header}}

<div class="container">
    <div class="center">
        <br>
        <br>
        <a href="/oauth2/authorization/naver"><img src="/img/naver_login/btnG_완성형.png" width="250" height="50"></a>
        <a href="/oauth2/authorization/google"><img src="/img/google_login/web/2x/btn_google_signin_dark_focus_web@2x.png" width="200" height="50"></a>
    </div>
</div>

{{>layout/footer}}